/* .slider-contain > .awssld > .awssld__wrapper > .awssld__container > .awssld__box > .awssld__content > img {
  object-fit: contain;
} */

.awssld__content > img {
  object-fit: contain;
  background-color: #efcc71;
}